*{
    margin: 0;
    padding: 0;
    border: none;
    
}

html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: -55px;
    text-align: center;           
}



body{    
    font-family: 'Roboto', sans-serif;        
    background-color: white;
    margin: 0 80%;
    max-width:100%;
    min-height: 100vh;    
}

.image1_header{
    background-image: url("assets/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;    
    height: 600px;          
}

.header_content {   
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;        
      
}

.header_content ul li {
    display: inline;
    font-size: 0.8em;
    padding: 1em 1em;    
}

.list{
    text-decoration: none;
    color: white;       
}

.content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    
}

.content1 h1{
    font-size: 3em;
    line-height: 1.2em;
    color: white;
    text-align: center;
    font-weight: bold;
}

.content1 h3{
    margin-top: 12px;
    font-size: 1em;
    line-height: 1.5em;
    color: white;
    text-align: center;    
}

.content1 button{
    margin-top: 29px;
    width: 14em;
    height: 3em;
    color: white;
    background: rgb(61, 145, 224);
    border-radius: 20px;
    text-align: center;
    font-size: 0.8em;    
}

.content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1em;    
}


.content2 h3{
    margin-top: 90px;
    font-size: 1.8em;
    line-height: 1em;
    color: #252B42;
    text-align: center;    
}

.content2 h4{
    margin-top: 30px;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #7e7f82;
    text-align: center;    
}

.content3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding:1em;    
}

.content3 img {     
    width:40px; 
    height: 40px;
    padding: 0.8em 6em;    
}

.content4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1em;     
}

content4 h3 {
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    padding: 0.2em 2em;
    color: #252B42;
}

.content4 h4 {
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: center;
    padding: 1em 2em;
    color: #9598a7
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .content3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        padding:1em;    
    }
    
    .content3 img {     
        width:40px; 
        height: 40px;
        padding: 0.8em 6em;    
    }
    
    .content4{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:1em;     
    }
    
    content4 h3 {
        font-size: 1em;
        line-height: 1.5em;
        text-align: center;
        padding: 0.2em 2em;
        color: #252B42;
    }
    
    .content4 h4 {
        font-size: 0.8em;
        line-height: 1.5em;
        text-align: center;
        padding: 1em 2em;
        color: #9598a7
    } 

}

@media all and (min-width: 480px) and (max-width: 768px) {
    .content3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        padding:1em;    
    }
    
    .content3 img {     
        width:40px; 
        height: 40px;
        padding: 0.8em 6em;    
    }
    
    .content4{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:1em;     
    }
    
    content4 h3 {
        font-size: 1em;
        line-height: 1.5em;
        text-align: center;
        padding: 0.2em 2em;
        color: #252B42;
    }
    
    .content4 h4 {
        font-size: 0.8em;
        line-height: 1.5em;
        text-align: center;
        padding: 1em 2em;
        color: #9598a7
    }

}

@media all and (max-width: 480px) {
    .content3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        padding:1em;    
    }
    
    .content3 img {     
        width:40px; 
        height: 40px;
        padding: 0.8em 6em;    
    }
    
    .content4{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:1em;     
    }
    
    content4 h3 {
        font-size: 1em;
        line-height: 1.5em;
        text-align: center;
        padding: 0.2em 2em;
        color: #252B42;
    }
    
    .content4 h4 {
        font-size: 0.8em;
        line-height: 1.5em;
        text-align: center;
        padding: 1em 2em;
        color: #9598a7
    }
}

.video_content5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("assets/images/bg2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60em;
    height: 40em;
    margin: 10px auto;
     
}

.video_content5 img {
    width: 10em;
    height: 10em;
    padding-bottom: 4em;
}

.content6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 150px;
    padding: 2em;
    
}

.content6 h2 {    
    font-size: 2em;
    line-height: 1.5em;
    text-align: left;
    padding: 1em 1.9em;
    color: #252B42

}

.content6 h4 {    
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
    padding: 0.8em 4em;
    color: #252B42

}

.content6 button{
    margin-top: 45px;
    margin-left: 60px;
    width: 15em;
    height: 3em;
    color: white;
    background: rgb(90, 90, 230);
    border-radius: 15px;
    text-align: center;
    font-size: 0.8em;
    padding: 0.8em 4em;    
}

@media all and (min-width: 768px) and (max-width: 1024px){
    .video_content5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("assets/images/bg2.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 60em;
        height: 40em;
        margin: 10px auto;
         
    }
    
    .video_content5 img {
        width: 10em;
        height: 10em;
        padding-bottom: 4em;
    }
    
    .content6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 150px;
        padding: 2em;
        
    }
    
    .content6 h2 {    
        font-size: 2em;
        line-height: 1.5em;
        text-align: left;
        padding: 1em 1.9em;
        color: #252B42
    
    }
    
    .content6 h4 {    
        font-size: 1em;
        line-height: 1.5em;
        text-align: left;
        padding: 0.8em 4em;
        color: #252B42
    
    }
    
    .content6 button{
        margin-top: 45px;
        margin-left: 60px;
        width: 15em;
        height: 3em;
        color: white;
        background: rgb(90, 90, 230);
        border-radius: 15px;
        text-align: center;
        font-size: 0.8em;
        padding: 0.8em 4em;    
    }

}

@media all and (min-width: 480px) and (max-width: 768px){
    .video_content5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("assets/images/bg2.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 60em;
        height: 40em;
        margin: 10px auto;
         
    }
    
    .video_content5 img {
        width: 10em;
        height: 10em;
        padding-bottom: 4em;
    }
    
    .content6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 150px;
        padding: 2em;
        
    }
    
    .content6 h2 {    
        font-size: 2em;
        line-height: 1.5em;
        text-align: left;
        padding: 1em 1.9em;
        color: #252B42
    
    }
    
    .content6 h4 {    
        font-size: 1em;
        line-height: 1.5em;
        text-align: left;
        padding: 0.8em 4em;
        color: #252B42
    
    }
    
    .content6 button{
        margin-top: 45px;
        margin-left: 60px;
        width: 15em;
        height: 3em;
        color: white;
        background: rgb(90, 90, 230);
        border-radius: 15px;
        text-align: center;
        font-size: 0.8em;
        padding: 0.8em 4em;    
    }

}

@media all and (max-width: 480px){
    .video_content5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("assets/images/bg2.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 60em;
        height: 40em;
        margin: 10px auto;
         
    }
    
    .video_content5 img {
        width: 10em;
        height: 10em;
        padding-bottom: 4em;
    }
    
    .content6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 150px;
        padding: 2em;
        
    }
    
    .content6 h2 {    
        font-size: 2em;
        line-height: 1.5em;
        text-align: left;
        padding: 1em 1.9em;
        color: #252B42
    
    }
    
    .content6 h4 {    
        font-size: 1em;
        line-height: 1.5em;
        text-align: left;
        padding: 0.8em 4em;
        color: #252B42
    
    }
    
    .content6 button{
        margin-top: 45px;
        margin-left: 60px;
        width: 15em;
        height: 3em;
        color: white;
        background: rgb(90, 90, 230);
        border-radius: 15px;
        text-align: center;
        font-size: 0.8em;
        padding: 0.8em 4em;    
    }

}

.content7{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 250px;
    color:#252B42;    
}

.content7 img{
    width: 25em;
    height: 18em;  
    
}

.text_cnt{
    text-align: left;
    line-height: 1.5em;
    padding: 0.5em;
    font-weight: bold;
    font-size: 0.8em;
    
}

.text_cnt1{
    text-align: left;
    line-height: 1.5em;
}

.content7 h3{
    font-size: 1.5em;
        
}

.cnt7{
    padding-right: 60px;
    
}


input[type=email]{
    margin-top: 20px;
    background-color:rgb(233, 226, 226);
    color:black; 
    border-color:gray;
    font-size: 0.7em;
    text-align: left;
    width: 150px;
    height: 20px;
    border-radius: 1em;
    padding: 0.5em;
}

input[type=submit]{
    background-color:rgb(119, 119, 197);
    color:white; 
    border-color:blue;
    font-size: 0.8em;
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 2em;
    padding: 0.5em;
    cursor: pointer;
    
}

.content8{
    margin-top:80px;
    
}

.content8 h3{
    color: #252B42;
    padding: 1em;
    font-size: 2em;
}

.content8 h4{
    color: #252B42;
    font-size: 0.9em;
}

.partners_content9 {
    margin-top: 1px;
    flex: 1;
    justify-content: center;
    display: grid;
    /*grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
    grid-template-rows: 1fr;
    padding: 100px;

}

.partners_content9 img {
    width: 80px;
    height: 40px;
    padding-top: 20px;
}


.partners {
    border: 1px solid gray;
    max-width: 250px;
    max-height: 100px;
    text-align: center;
    padding-top: 15px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .partners_content9 {
        margin-top: 1px;
        flex: 1;
        justify-content: center;
        display: grid;
        /*grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;*/
        grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
        grid-template-rows: 1fr;
        padding: 100px;
    
    }
    
    .partners_content9 img {
        width: 80px;
        height: 40px;
        padding-top: 20px;
    }
    
    
    .partners {
        border: 1px solid gray;
        max-width: 250px;
        max-height: 100px;
        text-align: center;
        padding-top: 15px;
    } 

}

@media all and (min-width: 480px) and (max-width: 768px) {
    .partners_content9 {
        margin-top: 1px;
        flex: 1;
        justify-content: center;
        display: grid;
        /*grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;*/
        grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
        grid-template-rows: 1fr;
        padding: 100px;
    
    }
    
    .partners_content9 img {
        width: 80px;
        height: 40px;
        padding-top: 20px;
    }
    
    
    .partners {
        border: 1px solid gray;
        max-width: 250px;
        max-height: 100px;
        text-align: center;
        padding-top: 15px;
    } 

}

@media all and (max-width: 480px) {
    .partners_content9 {
        margin-top: 1px;
        flex: 1;
        justify-content: center;
        display: grid;
        /*grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;*/
        grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
        grid-template-rows: 1fr;
        padding: 100px;
    
    }
    
    .partners_content9 img {
        width: 80px;
        height: 40px;
        padding-top: 20px;
    }
    
    
    .partners {
        border: 1px solid gray;
        max-width: 250px;
        max-height: 100px;
        text-align: center;
        padding-top: 15px;
    } 


 }

.content10 {
    margin-top: 10px;
}

.content10 .tff2 {    
    width: 15em;
    height: 3em;
    color: white;
    background: rgb(90, 90, 230);
    border-radius: 18px;
    text-align: center;
    font-size: 0.8em;
    padding: 0.8em 4em;    
}

.content10 h2{    
    color: #252B42;
    padding-top: 5em;
    font-size: 1.7em;   
}

.content10 img{    
    padding-top: 4em; 
    width: 90px;
    height: 40px;  
}

.content10 h4{    
    padding-top: 2em;
    color: #5f616b; 
    font-size: 1em;
}

.content10 .mt {    
    width: 15em;
    height: 3em;
    color: white;
    background: rgb(90, 90, 230);
    border-radius: 18px;
    text-align: center;
    font-size: 0.9em;
    margin-top: 10em;
       
}

.content11 {    
    background: #252B42;
    height: 55em;
    margin-top: 5em;
        
}

.content11 h2{
    padding-top: 2em;
    color: white;
}

.content11 h4{
    padding-top: 1em;
    color: white;
}

.content11 ul li{
    list-style-type: none;
    padding: 0.5em;
}

.container{
    flex: 1;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
    grid-template-rows: 1fr;
    grid-gap: 2px;
    padding: 1.5em 1.5em;      
}

.content11 .order1{
    margin-top: 8em;
    margin-left: 1em;    
    width: 18em;
    height: 30em;
    background-color: white;
    border-radius: 12px;
    align-items: center;
    color:#252B42;   
    
}


.order_now1{
    width: 12em;
    height: 3em;
    color: white;
    background: rgb(90, 90, 230);
    border-radius: 18px;
    text-align: center;
    font-size: 0.9em;
    margin-top: 0.5em;

}

.content11 .order2{
    margin-top: 5em;
    margin-left: 1em;    
    width: 18em;
    height: 37em;
    background-color: blue;
    border-radius: 12px;
    align-items: center;
    color: white;  
    
}


.order_now2{
    width: 12em;
    height: 3em;
    color:blue;
    background: white;
    border-radius: 18px;
    text-align: center;
    font-size: 0.9em;
    margin-top: 0.5em;

}

.content11 .order3{
    margin-top: 8em;
    margin-left: 1em;    
    width: 18em;
    height: 30em;
    background-color: white;
    border-radius: 12px;
    align-items: center;
    color:#252B42;    
}

.order_now3{
    width: 12em;
    height: 3em;
    color: white;
    background: rgb(90, 90, 230);
    border-radius: 18px;
    text-align: center;
    font-size: 0.9em;
    margin-top: 0.5em;

}

.order2 ul li{
    padding: 0.75em;
}
   

p:first-letter{
    float: center;
    font-size: 50px;
    font-weight: bold;
}

.first{
    float: center;
    font-size: 50px;
    font-weight: bold;
}

.second{
    float: center;
    font-size: 50px;
    font-weight: bold;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .content11 {    
        background: #252B42;
        height: 55em;
        margin-top: 5em;
            
    }
    
    .content11 h2{
        padding-top: 2em;
        color: white;
    }
    
    .content11 h4{
        padding-top: 1em;
        color: white;
    }
    
    .content11 ul li{
        list-style-type: none;
        padding: 0.5em;
    }
    
    .container{
        flex: 1;
        justify-content: space-between;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
        grid-template-rows: 1fr;
        grid-gap: 2px;
        padding: 1.5em 1.5em;      
    }
    
    .content11 .order1{
        margin-top: 8em;
        margin-left: 1em;    
        width: 18em;
        height: 30em;
        background-color: white;
        border-radius: 12px;
        align-items: center;
        color:#252B42;   
        
    }
    
    
    .order_now1{
        width: 12em;
        height: 3em;
        color: white;
        background: rgb(90, 90, 230);
        border-radius: 18px;
        text-align: center;
        font-size: 0.9em;
        margin-top: 0.5em;
    
    }
    
    .content11 .order2{
        margin-top: 5em;
        margin-left: 1em;    
        width: 18em;
        height: 37em;
        background-color: blue;
        border-radius: 12px;
        align-items: center;
        color: white;  
        
    }
    
    
    .order_now2{
        width: 12em;
        height: 3em;
        color:blue;
        background: white;
        border-radius: 18px;
        text-align: center;
        font-size: 0.9em;
        margin-top: 0.5em;
    
    }
    
    .content11 .order3{
        margin-top: 8em;
        margin-left: 1em;    
        width: 18em;
        height: 30em;
        background-color: white;
        border-radius: 12px;
        align-items: center;
        color:#252B42;    
    }
    
    .order_now3{
        width: 12em;
        height: 3em;
        color: white;
        background: rgb(90, 90, 230);
        border-radius: 18px;
        text-align: center;
        font-size: 0.9em;
        margin-top: 0.5em;
    
    }
    
    .order2 ul li{
        padding: 0.75em;
    }
       
    
    p:first-letter{
        float: center;
        font-size: 50px;
        font-weight: bold;
    }
    
    .first{
        float: center;
        font-size: 50px;
        font-weight: bold;
    }
    
    .second{
        float: center;
        font-size: 50px;
        font-weight: bold;
    }

}

@media all and (min-width: 480px) and (max-width: 768px) {
    .content11 {    
        background: #252B42;
        height: 55em;
        margin-top: 5em;
            
    }
    
    .content11 h2{
        padding-top: 2em;
        color: white;
    }
    
    .content11 h4{
        padding-top: 1em;
        color: white;
    }
    
    .content11 ul li{
        list-style-type: none;
        padding: 0.5em;
    }
    
    .container{
        flex: 1;
        justify-content: space-between;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
        grid-template-rows: 1fr;
        grid-gap: 2px;
        padding: 1.5em 1.5em;      
    }
    
    .content11 .order1{
        margin-top: 8em;
        margin-left: 1em;    
        width: 18em;
        height: 30em;
        background-color: white;
        border-radius: 12px;
        align-items: center;
        color:#252B42;   
        
    }
    
    
    .order_now1{
        width: 12em;
        height: 3em;
        color: white;
        background: rgb(90, 90, 230);
        border-radius: 18px;
        text-align: center;
        font-size: 0.9em;
        margin-top: 0.5em;
    
    }
    
    .content11 .order2{
        margin-top: 5em;
        margin-left: 1em;    
        width: 18em;
        height: 37em;
        background-color: blue;
        border-radius: 12px;
        align-items: center;
        color: white;  
        
    }
    
    
    .order_now2{
        width: 12em;
        height: 3em;
        color:blue;
        background: white;
        border-radius: 18px;
        text-align: center;
        font-size: 0.9em;
        margin-top: 0.5em;
    
    }
    
    .content11 .order3{
        margin-top: 8em;
        margin-left: 1em;    
        width: 18em;
        height: 30em;
        background-color: white;
        border-radius: 12px;
        align-items: center;
        color:#252B42;    
    }
    
    .order_now3{
        width: 12em;
        height: 3em;
        color: white;
        background: rgb(90, 90, 230);
        border-radius: 18px;
        text-align: center;
        font-size: 0.9em;
        margin-top: 0.5em;
    
    }
    
    .order2 ul li{
        padding: 0.75em;
    }
       
    
    p:first-letter{
        float: center;
        font-size: 50px;
        font-weight: bold;
    }
    
    .first{
        float: center;
        font-size: 50px;
        font-weight: bold;
    }
    
    .second{
        float: center;
        font-size: 50px;
        font-weight: bold;
    }
 

}

@media all and (max-width: 480px) {
    .content11 {    
        background: #252B42;
        height: 55em;
        margin-top: 5em;
            
    }
    
    .content11 h2{
        padding-top: 2em;
        color: white;
    }
    
    .content11 h4{
        padding-top: 1em;
        color: white;
    }
    
    .content11 ul li{
        list-style-type: none;
        padding: 0.5em;
    }
    
    .container{
        flex: 1;
        justify-content: space-between;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
        grid-template-rows: 1fr;
        grid-gap: 2px;
        padding: 1.5em 1.5em;      
    }
    
    .content11 .order1{
        margin-top: 8em;
        margin-left: 1em;    
        width: 18em;
        height: 30em;
        background-color: white;
        border-radius: 12px;
        align-items: center;
        color:#252B42;   
        
    }
    
    
    .order_now1{
        width: 12em;
        height: 3em;
        color: white;
        background: rgb(90, 90, 230);
        border-radius: 18px;
        text-align: center;
        font-size: 0.9em;
        margin-top: 0.5em;
    
    }
    
    .content11 .order2{
        margin-top: 5em;
        margin-left: 1em;    
        width: 18em;
        height: 37em;
        background-color: blue;
        border-radius: 12px;
        align-items: center;
        color: white;  
        
    }
    
    
    .order_now2{
        width: 12em;
        height: 3em;
        color:blue;
        background: white;
        border-radius: 18px;
        text-align: center;
        font-size: 0.9em;
        margin-top: 0.5em;
    
    }
    
    .content11 .order3{
        margin-top: 8em;
        margin-left: 1em;    
        width: 18em;
        height: 30em;
        background-color: white;
        border-radius: 12px;
        align-items: center;
        color:#252B42;    
    }
    
    .order_now3{
        width: 12em;
        height: 3em;
        color: white;
        background: rgb(90, 90, 230);
        border-radius: 18px;
        text-align: center;
        font-size: 0.9em;
        margin-top: 0.5em;
    
    }
    
    .order2 ul li{
        padding: 0.75em;
    }
       
    
    p:first-letter{
        float: center;
        font-size: 50px;
        font-weight: bold;
    }
    
    .first{
        float: center;
        font-size: 50px;
        font-weight: bold;
    }
    
    .second{
        float: center;
        font-size: 50px;
        font-weight: bold;
    }
 


}

.content12{
    margin-top: 100px;
    background: white;
    height: 750px;
}

.content12 h3{
    font-size: 2em;
    color:#252B42;
    line-height: 1.5em;
    padding: 0.5em;
}

.content12 h4{
    font-size: 1.2em;
    color:rgba(37, 43, 66,0.7);
    line-height: 1.5em;
}

.flex_container13{
    display: flex;
    margin-top: 3em;
    justify-content:space-evenly;
  
    
}

.form{
    /*margin-top: 5em;
    margin-left: 15em;*/
    background: white;
    border: 2px solid rgba(204, 200, 200,0.2);;
    border-radius: 10px;
    width: 300px;
    height: 450px;
    padding: 1em 0em;    
}

.form span{
    padding: 0.5em;
    font-size: 1em;
}

#fullname{
    width: 230px;
    height: 25px;
    background-color: rgba(204, 200, 200,0.2);
    border: 1px solid rgba(204, 200, 200,0.2);
    border-radius: 10px;
    padding: 0.5em;
    font-size: 0.8em;
    margin-top:20px;
    color: rgba(37, 43, 66,0.7);
}

#emailaddress{
    width: 230px;
    height: 25px;
    background-color: rgba(204, 200, 200,0.2);
    border: 1px solid rgba(204, 200, 200,0.2);
    border-radius: 10px;
    padding: 0.5em;
    font-size: 0.8em;
    margin-top:20px;
    color: rgba(37, 43, 66,0.7);
}

#text_area{
    width: 230px;
    height: 190px;
    background-color: rgba(204, 200, 200,0.2);
    border: 1px solid rgba(204, 200, 200,0.2);
    padding: 0.5em;
    font-size: 0.8em;
    margin-top:20px;
    color: rgba(37, 43, 66,0.7); 
    
}

#submit{
    background-color:rgb(119, 119, 197);
    color:white; 
    border-color:blue;
    font-size: 0.8em;
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 2em;
    padding: 0.5em;
    cursor: pointer;
    margin-top:40px;
    margin-right: 150px;    
}

#middle{    
    display: flex;
    justify-content: center;
    align-items: center;
}

.zone{
    width: 150px;
    height: 50px;
    margin-top: 1em;
    font-size: 0.8em;    
    text-align: center;
}

.zone img{
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 60px;
}

.zone span{
    color:#252B42;    
    display: block;
    padding: 0.8em;
    
}

.zone1{
    width: 150px;
    height: 50px;
    margin-top: 0.5em;
    font-size: 0.8em;    
    text-align: center;
}

.zone1 img{
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 60px;
}

.zone1 span{
    color:#252B42;    
    display: block;
    padding: 0.8em;
    
}

.seg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.zone_100 img{
    width:400px;
    height: 250px;
    padding-top: 4em;
}

.left_bottom{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.left_bottom img{
    width: 25px;
    height: 25px;
    padding-top: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .content12{
        margin-top: 100px;
        background: white;
        height: 750px;
    }
    
    .content12 h3{
        font-size: 2em;
        color:#252B42;
        line-height: 1.5em;
        padding: 0.5em;
    }
    
    .content12 h4{
        font-size: 1.2em;
        color:rgba(37, 43, 66,0.7);
        line-height: 1.5em;
    }
    
    .flex_container13{
        display: flex;
        margin-top: 3em;
        justify-content:space-evenly;
      
        
    }
    
    .form{
        /*margin-top: 5em;
        margin-left: 15em;*/
        background: white;
        border: 2px solid rgba(204, 200, 200,0.2);;
        border-radius: 10px;
        width: 300px;
        height: 450px;
        padding: 1em 0em;    
    }
    
    .form span{
        padding: 0.5em;
        font-size: 1em;
    }
    
    #fullname{
        width: 230px;
        height: 25px;
        background-color: rgba(204, 200, 200,0.2);
        border: 1px solid rgba(204, 200, 200,0.2);
        border-radius: 10px;
        padding: 0.5em;
        font-size: 0.8em;
        margin-top:20px;
        color: rgba(37, 43, 66,0.7);
    }
    
    #emailaddress{
        width: 230px;
        height: 25px;
        background-color: rgba(204, 200, 200,0.2);
        border: 1px solid rgba(204, 200, 200,0.2);
        border-radius: 10px;
        padding: 0.5em;
        font-size: 0.8em;
        margin-top:20px;
        color: rgba(37, 43, 66,0.7);
    }
    
    #text_area{
        width: 230px;
        height: 190px;
        background-color: rgba(204, 200, 200,0.2);
        border: 1px solid rgba(204, 200, 200,0.2);
        padding: 0.5em;
        font-size: 0.8em;
        margin-top:20px;
        color: rgba(37, 43, 66,0.7); 
        
    }
    
    #submit{
        background-color:rgb(119, 119, 197);
        color:white; 
        border-color:blue;
        font-size: 0.8em;
        text-align: center;
        width: 100px;
        height: 40px;
        border-radius: 2em;
        padding: 0.5em;
        cursor: pointer;
        margin-top:40px;
        margin-right: 150px;    
    }
    
    #middle{    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .zone{
        width: 150px;
        height: 50px;
        margin-top: 1em;
        font-size: 0.8em;    
        text-align: center;
    }
    
    .zone img{
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 60px;
    }
    
    .zone span{
        color:#252B42;    
        display: block;
        padding: 0.8em;
        
    }
    
    .zone1{
        width: 150px;
        height: 50px;
        margin-top: 0.5em;
        font-size: 0.8em;    
        text-align: center;
    }
    
    .zone1 img{
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 60px;
    }
    
    .zone1 span{
        color:#252B42;    
        display: block;
        padding: 0.8em;
        
    }
    
    .seg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .zone_100 img{
        width:400px;
        height: 250px;
        padding-top: 4em;
    }
    
    .left_bottom{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .left_bottom img{
        width: 25px;
        height: 25px;
        padding-top: 3em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

}

@media all and (min-width: 480px) and (max-width: 768px) {
    .content12{
        margin-top: 100px;
        background: white;
        height: 750px;
    }
    
    .content12 h3{
        font-size: 2em;
        color:#252B42;
        line-height: 1.5em;
        padding: 0.5em;
    }
    
    .content12 h4{
        font-size: 1.2em;
        color:rgba(37, 43, 66,0.7);
        line-height: 1.5em;
    }
    
    .flex_container13{
        display: flex;
        margin-top: 3em;
        justify-content:space-evenly;
      
        
    }
    
    .form{
        /*margin-top: 5em;
        margin-left: 15em;*/
        background: white;
        border: 2px solid rgba(204, 200, 200,0.2);;
        border-radius: 10px;
        width: 300px;
        height: 450px;
        padding: 1em 0em;    
    }
    
    .form span{
        padding: 0.5em;
        font-size: 1em;
    }
    
    #fullname{
        width: 230px;
        height: 25px;
        background-color: rgba(204, 200, 200,0.2);
        border: 1px solid rgba(204, 200, 200,0.2);
        border-radius: 10px;
        padding: 0.5em;
        font-size: 0.8em;
        margin-top:20px;
        color: rgba(37, 43, 66,0.7);
    }
    
    #emailaddress{
        width: 230px;
        height: 25px;
        background-color: rgba(204, 200, 200,0.2);
        border: 1px solid rgba(204, 200, 200,0.2);
        border-radius: 10px;
        padding: 0.5em;
        font-size: 0.8em;
        margin-top:20px;
        color: rgba(37, 43, 66,0.7);
    }
    
    #text_area{
        width: 230px;
        height: 190px;
        background-color: rgba(204, 200, 200,0.2);
        border: 1px solid rgba(204, 200, 200,0.2);
        padding: 0.5em;
        font-size: 0.8em;
        margin-top:20px;
        color: rgba(37, 43, 66,0.7); 
        
    }
    
    #submit{
        background-color:rgb(119, 119, 197);
        color:white; 
        border-color:blue;
        font-size: 0.8em;
        text-align: center;
        width: 100px;
        height: 40px;
        border-radius: 2em;
        padding: 0.5em;
        cursor: pointer;
        margin-top:40px;
        margin-right: 150px;    
    }
    
    #middle{    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .zone{
        width: 150px;
        height: 50px;
        margin-top: 1em;
        font-size: 0.8em;    
        text-align: center;
    }
    
    .zone img{
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 60px;
    }
    
    .zone span{
        color:#252B42;    
        display: block;
        padding: 0.8em;
        
    }
    
    .zone1{
        width: 150px;
        height: 50px;
        margin-top: 0.5em;
        font-size: 0.8em;    
        text-align: center;
    }
    
    .zone1 img{
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 60px;
    }
    
    .zone1 span{
        color:#252B42;    
        display: block;
        padding: 0.8em;
        
    }
    
    .seg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .zone_100 img{
        width:400px;
        height: 250px;
        padding-top: 4em;
    }
    
    .left_bottom{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .left_bottom img{
        width: 25px;
        height: 25px;
        padding-top: 3em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

 }

@media all and (max-width: 480px) {
    .content12{
        margin-top: 100px;
        background: white;
        height: 750px;
    }
    
    .content12 h3{
        font-size: 2em;
        color:#252B42;
        line-height: 1.5em;
        padding: 0.5em;
    }
    
    .content12 h4{
        font-size: 1.2em;
        color:rgba(37, 43, 66,0.7);
        line-height: 1.5em;
    }
    
    .flex_container13{
        display: flex;
        margin-top: 3em;
        justify-content:space-evenly;
      
        
    }
    
    .form{
        /*margin-top: 5em;
        margin-left: 15em;*/
        background: white;
        border: 2px solid rgba(204, 200, 200,0.2);;
        border-radius: 10px;
        width: 300px;
        height: 450px;
        padding: 1em 0em;    
    }
    
    .form span{
        padding: 0.5em;
        font-size: 1em;
    }
    
    #fullname{
        width: 230px;
        height: 25px;
        background-color: rgba(204, 200, 200,0.2);
        border: 1px solid rgba(204, 200, 200,0.2);
        border-radius: 10px;
        padding: 0.5em;
        font-size: 0.8em;
        margin-top:20px;
        color: rgba(37, 43, 66,0.7);
    }
    
    #emailaddress{
        width: 230px;
        height: 25px;
        background-color: rgba(204, 200, 200,0.2);
        border: 1px solid rgba(204, 200, 200,0.2);
        border-radius: 10px;
        padding: 0.5em;
        font-size: 0.8em;
        margin-top:20px;
        color: rgba(37, 43, 66,0.7);
    }
    
    #text_area{
        width: 230px;
        height: 190px;
        background-color: rgba(204, 200, 200,0.2);
        border: 1px solid rgba(204, 200, 200,0.2);
        padding: 0.5em;
        font-size: 0.8em;
        margin-top:20px;
        color: rgba(37, 43, 66,0.7); 
        
    }
    
    #submit{
        background-color:rgb(119, 119, 197);
        color:white; 
        border-color:blue;
        font-size: 0.8em;
        text-align: center;
        width: 100px;
        height: 40px;
        border-radius: 2em;
        padding: 0.5em;
        cursor: pointer;
        margin-top:40px;
        margin-right: 150px;    
    }
    
    #middle{    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .zone{
        width: 150px;
        height: 50px;
        margin-top: 1em;
        font-size: 0.8em;    
        text-align: center;
    }
    
    .zone img{
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 60px;
    }
    
    .zone span{
        color:#252B42;    
        display: block;
        padding: 0.8em;
        
    }
    
    .zone1{
        width: 150px;
        height: 50px;
        margin-top: 0.5em;
        font-size: 0.8em;    
        text-align: center;
    }
    
    .zone1 img{
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 60px;
    }
    
    .zone1 span{
        color:#252B42;    
        display: block;
        padding: 0.8em;
        
    }
    
    .seg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .zone_100 img{
        width:400px;
        height: 250px;
        padding-top: 4em;
    }
    
    .left_bottom{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .left_bottom img{
        width: 25px;
        height: 25px;
        padding-top: 3em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }


 }

.last_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10em;
    background: #252B42;
    height: 15em;       
    border-bottom: 1.5px solid white;
}
   

.items_list{
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
    grid-gap: 20px;    
}

.zone2{    
    width: 140px;
    height: 20px;       
    text-align: left;
    font-size: 0.8em;
    color: white;
}

.final{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    justify-content: flex-start;  
}

.items_list1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.zone3 img{
    display: inline;
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

.zone3 span{
    text-align: center;
    padding: 0.3em;
    color: white;
    font-size: 0.8em;
}

.items_list2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
}

.zone4 img{
    display: inline;
    margin-top: 20px;
    padding: 0.8em;
    width: 20px;
    height: 20px;    
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .last_content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10em;
        background: #252B42;
        height: 15em;       
        border-bottom: 1.5px solid white;
    }
       
    
    .items_list{
        display: grid;
        grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
        grid-gap: 20px;    
    }
    
    .zone2{    
        width: 140px;
        height: 20px;       
        text-align: left;
        font-size: 0.8em;
        color: white;
    }
    
    .final{
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        justify-content: flex-start;  
    }
    
    .items_list1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .zone3 img{
        display: inline;
        margin-top: 10px;
        width: 20px;
        height: 20px;
    }
    
    .zone3 span{
        text-align: center;
        padding: 0.3em;
        color: white;
        font-size: 0.8em;
    }
    
    .items_list2{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;    
    }
    
    .zone4 img{
        display: inline;
        margin-top: 20px;
        padding: 0.8em;
        width: 20px;
        height: 20px;    
    }

 }

 @media all and (min-width: 480px) and (max-width: 768px) {
    .last_content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10em;
        background: #252B42;
        height: 15em;       
        border-bottom: 1.5px solid white;
    }
       
    
    .items_list{
        display: grid;
        grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
        grid-gap: 20px;    
    }
    
    .zone2{    
        width: 140px;
        height: 20px;       
        text-align: left;
        font-size: 0.8em;
        color: white;
    }
    
    .final{
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        justify-content: flex-start;  
    }
    
    .items_list1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .zone3 img{
        display: inline;
        margin-top: 10px;
        width: 20px;
        height: 20px;
    }
    
    .zone3 span{
        text-align: center;
        padding: 0.3em;
        color: white;
        font-size: 0.8em;
    }
    
    .items_list2{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;    
    }
    
    .zone4 img{
        display: inline;
        margin-top: 20px;
        padding: 0.8em;
        width: 20px;
        height: 20px;    
    }


  }

  @media all and (max-width: 480px) {
    .last_content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10em;
        background: #252B42;
        height: 15em;       
        border-bottom: 1.5px solid white;
    }
       
    
    .items_list{
        display: grid;
        grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
        grid-gap: 20px;    
    }
    
    .zone2{    
        width: 140px;
        height: 20px;       
        text-align: left;
        font-size: 0.8em;
        color: white;
    }
    
    .final{
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        justify-content: flex-start;  
    }
    
    .items_list1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .zone3 img{
        display: inline;
        margin-top: 10px;
        width: 20px;
        height: 20px;
    }
    
    .zone3 span{
        text-align: center;
        padding: 0.3em;
        color: white;
        font-size: 0.8em;
    }
    
    .items_list2{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;    
    }
    
    .zone4 img{
        display: inline;
        margin-top: 20px;
        padding: 0.8em;
        width: 20px;
        height: 20px;    
    }


   }


    





    




















